.homepage {
  .markdown-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .tag-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
