html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --txt-1: #000000;

  --bg-1: #ffffff;
  --bg-2: #eeeeee;
}

:root .dark {
  --txt-1: #ffffff;

  --bg-1: #282c34;
  --bg-2: #121212;
}

body {
  color: var(--txt-1);
  background-color: var(--bg-1);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
