html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --txt-1: #000000;
  --txt-1: #000000;

  --bg-1: #ffffff;
  --bg-2: #eeeeee;
  --bg-3: #f1f1f1;
  --bg-4: #45409a;

  --white: #ffffff;
}

:root .dark {
  --txt-1: #ffffff;
  --txt-2: #d2d2d2;

  --bg-1: #212122;
  --bg-2: #2f2f2f;
  --bg-3: #161515;
  --bg-4: #45409a;
}

body {
  color: var(--txt-1);
  background-color: var(--bg-1);
}

a {
  color: var(--txt-1);
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
