@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --txt-1: #000000;
  --txt-2: #000000;
  --txt-3: #45409a;

  --bg-1: #ffffff;
  --bg-2: #eeeeee;
  --bg-3: #f1f1f1;
  --bg-4: #45409a;

  --white: #ffffff;
}

:root .dark {
  --txt-1: #ffffff;
  --txt-2: #999999;
  --txt-3: #9791f5;

  --bg-1: #212122;
  --bg-2: #2f2f2f;
  --bg-3: #1f1f1f;
  --bg-4: #45409a;
}

body {
  color: var(--txt-1);
  background-color: var(--bg-1);
}

a {
  color: var(--txt-1);
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
