.homepage {
  flex: 1;

  .markdownList {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    align-items: center;
    justify-content: center;
    color: var(--txt-1);
  }

  .tagList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 40px;
  }
}
