.homepage {
  .markdownList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .tagList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
