.searchBar {
  width: 150px;
  max-width: 90%;
  height: 30px;
  padding: 12px;
  border-radius: 4px;
  margin: 10px auto;
  border: 0;
  outline: none;
  background-color: var(--bg-2);
  color: var(--txt-1);
  transition: 0.3s;

  &:focus {
    width: 200px;
  }
}
